.home {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  background: #BEBEBE;
  overflow: hidden;
  font-family: 'Manrope', sans-serif;
  .home__right {
    position: absolute;
    inset: 0;
  }
  .home__map {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  .home__left {
    position: absolute;
    width: 42vw;
    height: 100%;
    background: rgba(17, 75, 236, 0.38);
    z-index: 3;
    .home__title {
      position: absolute;
      left: 63px;
      top: 160px;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-weight: 400;
      font-size: 90px;
      display: flex;
      gap: 10px;
      .geo {color: #100C8F;}
      .portal {color: #FFFFFF;}
    }
    .home__subtitle {
      position: absolute;
      width: 700px;
      left: 70px;
      top: 340px;
      font-weight: 300;
      font-size: 60px;
      line-height: 109.01%;
      color: #ECD4D4;
      span {
        letter-spacing: 4px;
      }
    }
    .home__button {
      width: 220px;
      height: 220px;
      left: 21vw;
      top: 65%;
      transform: translate(-50%, -50%);
      background: rgba(51, 38, 190, 0.54);
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 16px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
      position: relative;
      display: block;
      .home__icon {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 110px;
        height: 110px;
        margin-top: 20px;
      }
      .home__button-text {
        position: absolute;
        top: 150px;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 300;
        font-size: 28px;
        text-align: center;
        color: #FFFFFF;
      }
    }
  }
}
